body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .packsIntroTitle {
    margin-bottom: 35px;
  }

  h1 {
    align-items: center;
    text-align: center;
  }

  .payment-buttons {
    display: flex;
    justify-content: center;
  }
  
  .payment-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #0090ff;
  }
  
  .payment-button.active {
    background-color: #0090ff;
    color: white;
    font-weight: bold;
  }

  .underlinedTitle {
border-bottom: 2px solid grey;
  }

